{% extends '@Weather/Default/main.thml.twig' %}

{% block content %}
    <div>Weather for {{ location|capitalize }}</div>
    <div>Minimal Temperature : {{ weather.min_temp }} </div>
    <div>Maximal Temperature : {{ weather.max_temp }}</div>
    <div>Actual Temperature : {{ weather.the_temp }}</div>
    <div>Weather State : {{ weather.weather_state_name }}</div>
    <div>Air Pressure : {{ weather.air_pressure }} </div><br>
{% endblock %}